$icon-font-size: 24px;
$button-font-size: 14px;
$list-item-font-size: 14px;
$dropdown-font-size: 13px;
$link-font-size: 16px;
$after-font-size: 29px;
$elementColor: var(--main-color);
$elementHoverColor: var(--secondary-color);
$textColor: var(--text-color);

