.create-review {
	position: relative;

	&__open {
		color: $textColor;
	    margin: 10px 0 20px;
	    font-size: 21px;
	    font-weight: 300;
		text-align: center;
	}

	h3 {
		margin-bottom: 0;
		cursor: pointer;
		font-weight: 500;
		transition: all .3s;
	}

	h3:hover+i,
	i:hover {
		color: $elementColor;
		transform: translateY(5px);
	}

	i {
		cursor: pointer;
		transition: all .3s;

		&:before {
			font-size: 30px;
		}
	}

	&__form-wrap {
		
	}
}
