.container {
	width: 1200px;
	min-height: 75vh;	
	margin-right: auto;
    margin-left: auto;
    padding: 15px;
    padding-top: 20px;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 3px;
    background: #fff;
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

@media (min-width: 1024px) and (max-width: 1199px){
	.container {
		width: 970px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.container {
		width: 750px;
	}
}

@media (max-width: 768px) {
	.container {
		margin-top: 30px;
		width: 100%;
	}
}